body {
	background-color:  #B5DBBE;
	color:	#204027;
	font-family: verdana, arial, tahoma, sans-serif;
	font-size: 10pt;
	text-align:center;
	height: 500;
}

#info {
	text-align: left;
}

#key_label {
	font-size: 60pt;
}

#image {
	height: 100%;
	width: auto;
}

#fb-like {
	display:block;

	position:absolute;
	bottom:10px;
	left:10px;
	text-align: left;
}

#info_link {
	display:block;

	position:absolute;
	bottom:0;
	right:0;
	font-size: 12pt;
    
	text-align: right;
	margin:10px;
	color:#3040b0;
}

#greeting {
	font-size: 2.5em;
}

ul li {
  list-style-type: none;
}

ul li:before {
	content: "– ";
}

#start {
	display: none;
	font-size: 3em;
	font-weight: bold;
	width: 90%;
	height: 5em;
	border: 1px solid #888;
	background: #ccc;
	border-radius: 3px;
}

#input {
	display: none;
	opacity: 0;
	color: #B5DBBE;
}
